.Rproj.user
.Rhistory
.RData
inst/htmlwidgets/lib/backbone-1.2.1
inst/htmlwidgets/lib/lodash-3.10.1
inst/htmlwidgets/lib/joint-1.0.2/joint.min.js
inst/htmlwidgets/lib/joint-1.0.2/joint.min.css
inst/htmlwidgets/lib/jsTree-3.3.4
